<div class="container">
    <div class="page-header">
        <h2>Algorithms</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Best Runtime</th>
                <th>Average Runtime</th>
                <th>Worst Runtime</th>
                <th>Space Complexity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alg of algorithms">
                <td><a href="">{{ alg.name }}</a></td>
                <td>{{ alg.runtimeComplexities.best }}</td>
                <td>{{ alg.runtimeComplexities.average }}</td>
                <td>{{ alg.runtimeComplexities.worst }}</td>
                <td>{{ alg.spaceComplexity }}</td>
            </tr>
        </tbody>
    </table>
</div>